.hoja {
  position: relative;
  background: white;
  border: 1px solid #ccc;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  margin: auto;
}

.etiqueta {
  position: absolute;
  background-color: #f1f1f1;
  border: 1px dashed #888;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 10px;
  color: #333;
}
